page-login img{
	display: block;
	margin: auto;
	border-radius: 50em;
	width: 10em
}

page-login button.button-md, page-login button.button-ios, page-login button.button-wp {
	margin: auto;
	margin-top: 1em;
	display: block;
	width: 10em
}