<!--
  Generated template for the Task page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Job-Coaching</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let task of tasks">
      <ion-col width-10>
        <ion-checkbox checked="{{task.checked}}"></ion-checkbox>
      </ion-col>

      <ion-card>
        <ion-card-content>
          {{task.content}}
        </ion-card-content>
        <ion-badge *ngIf="task.interested > 0">{{task.interested}}</ion-badge>
      </ion-card>
      <ion-col width-10>
        <ion-icon name="calendar" isActive="{{task.subscribed}}" *ngIf="task.hasEvent"></ion-icon>
      </ion-col>
    </ion-row>
    
  </ion-grid>

</ion-content>